.bold{
    font-weight: bold;
}

.notbold {
    font-weight: normal;
}


.changefont {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.italic {
    font-style: italic;
}

.changecolor {
    color:rgb(179, 160, 99);
}

a{
    color: blue;
}


a:hover{
    text-decoration: underline;
}

body {
    background: rgb(248, 234, 217);
}

.shrink {
    font-size: small;
}
